{% extends "base.html" %}

{% block content %}

<H1 class="ribbon">
Минская область (белор. Мінская вобласць) — область в центральной Белоруссии.
</H1>
<table border="1">
<caption><h3 style="font-size: 20px; font-family: Verdana, Arial; color: #336;">Общие сведения</h3></caption>
<tr>
<td colspan="2">
<h2>
Образована 15 января 1938 года на основании Закона СССР от 15.01.1938 об изменении и дополнении Конституции (Основного Закона) СССР. Граничит со всеми областями Белоруссии, при этом единственная не имеет выхода к государственной границе.

Административный центр — город Минск (не входит в состав области).

</h2>
</td >
</tr>
<tr>
<td colspan="2">Территория
Площадь без г. Минска — 39 854 км?.[4] Область расположена в центральной части Белоруссии. Наибольшая протяженность с севера на юг — 315 км, с востока на запад — 240 км. Размер территории, включая город Минск, составляет 40 196 км? (19,4?% площади Белоруссии).[3][4] Самая высокая точка области (и всей страны) — Дзержинская гора (345 метров над уровнем моря).
</td>
<tr>
<td>
<h3 class="ribbon">
Минская область имеет  свой флаг и герб. 
</h3></td>
<td>
<img alt="флаг" src="file://c:/Users/Megatronica_2013/2_6.py/venv/Minsk_obl/Coat_of_Arms_of_Minsk_province.svg.png" width=150 height=100>
<img alt="герб" src="file://c:/Users/Megatronica_2013/2_6.py/venv/Minsk_obl/Flag_of_Minsk_Voblast.svg.png" width=150 height=100>
</td>
</tr>
<tr>
<td><h3 class="ribbon">Достопримечательностей в Минской области — огромное множество. <br>
Несвижский замок.<br>
Костёл Вознесения Пресвятой Девы Марии в Будславе (малая базилика).<br>
Свято-Михайловская церковь в Слуцке.<br>
Дворец Гуттен-Чапских в Прилуках.<br>
В области находится более 20-и музеев. Минский областной краеведческий музей находится в городе Молодечно.<br>
Самые посещаемые музеи Минской области:<br>
Национальный историко-культурный музей-заповедник «Несвиж» — 412,4 тыс.<br>
Государственный мемориальный комплекс «Хатынь» — 235,2 тыс.<br>
Белорусский государственный музей народной архитектуры и быта — 64,2 тыс.<br>
Несвижский историко-краеведческий музей — 36,5 тыс.<br>
Борисовский объединённый музей — 32,1 тыс.<br>
</h3></td>
<td colspan="3">
<img src="file://c:/Users/Megatronica_2013/2_6.py/venv/Minsk_obl/250px-Palace_and_park_complex_in_Priluki.jpg" width=350 height=200>
<img src="file://c:/Users/Megatronica_2013/2_6.py/venv/Minsk_obl/Nesvizh.jpg" width=350 height=200>
<img src="file://c:/Users/Megatronica_2013/2_6.py/venv/Minsk_obl/Slucak05715.JPG" width=350 height=200>
<img src="file://c:/Users/Megatronica_2013/2_6.py/venv/Minsk_obl/250px-Budslaw._Belarus_-_panoramio.jpg" width=350 height=200>
</td>
</tr>
<tr >
<td colspan="2">
Водная система
Наиболее крупные реки — Березина, Неман и Вилия. Есть около 60 крупных озёр с площадью более чем по 0,1 км<sup>2</sup>. <br>
Самое большое озеро — Нарочь, площадь которого 80 км<sup>2</sup>, наибольшая глубина — 24,8 м.<br>

Климат
Климат в Минской области умеренно-континентальный. Средняя температура в январе - 6,8 °C, в июле +17,5 °C.

Растительность
По состоянию на 1 января 2018 года 38,4% территории области покрыто лесами. Леса растут более чем на половине площади четырёх районов — Березинского (50,8%), Борисовского (51,5%), Крупского (50,7%), Стародорожского (50,5%). В Минской области расположен наименее лесистый район в стране — Несвижский (11,1%). Немного лесных насаждений также в Копыльском (18,1%) и Слуцком (22,1%) районах[9].
</td>
</tr>
{% endblock %}
