{% extends "base.html" %}

{% block content %}


<H1 class="ribbon">
ГОРОД ГЕРОЙ МИНСК
</H1>
<table border="1">
<caption><h3 style="font-size: 20px; font-family: Verdana, Arial; color: #336;">Общие сведения</h3></caption>
<tr>
<td colspan="2">
<h2>Минск (белор. Мінск) — столица Белоруссии, административный центр Минской области и Минского района, в состав которых не входит, поскольку является самостоятельной административно-территориальной единицей с особым (столичным) статусом, Город-герой. Крупнейший транспортный узел, политический, экономический, культурный и научный центр страны. Является ядром Минской агломерации. В Минске находится штаб-квартира СНГ. Десятый по численности населения (без учёта пригородов) город в Европе, четвертый на территории бывшего СССР и третий в ЕАЭС. Город расположен недалеко от географического центра страны и стоит на реке Свислочи. Площадь составляет 348,84 км?, население — 1 992 685 человек (на начало 2019 года)[2] без учёта пригородов.
</h2>
</td >
</tr>
<tr>
<td colspan="2">Минск является красивейшим городом и столицей республики Беларусь. Это экономический, политический и крупнейший транспортный центр. Город стоит на берегу реки Свислочь. Здесь мирно соседствуют представители различных культур и национальностей.
</td>
<tr>
<td>
<h3 class="ribbon">
Минск имеет достойный статус столицы государства, у него есть свой устав, герб и гимн. 
</h3></td>
<td>
<img alt="флаг" src="file://c:/Users/Megatronica_2013/2_6.py/venv/Minsk/Coat_of_arms_of_Minsk.svg.png" width=250 height=200>
<img alt="герб" src="file://c:/Users/Megatronica_2013/2_6.py/venv/Minsk/Flag_of_Minsk,_Belarus.svg.png" width=250 height=200>
</td>
</tr>
<tr>
<td>Достопримечательностей в Минске — огромное множество. Одной из главнейших достопримечательностей является обычная улица.
</td>
<td colspan="3">
<img alt="герб" src="file://c:/Users/Megatronica_2013/2_6.py/venv/Minsk/Minsk_Montage_(2015).png" width=550 height=300>
</td>
</tr>
<tr >
<td colspan="2">
Независимости является главной улицей столицы Беларуси. Она имеет протяженность в 15 километров и вокруг неё сосредоточено великое множество увлекательных мест и популярнейших достопримечательностей.
Площадь Независимости — это главнейшая и самая огромная площадь белорусской столицы. По внешнему виду она достаточно сильно напоминает Манежную площадь Москвы, а под землёй расположен торговый центр.
Дом правительства является одним из главнейших сооружений площади Независимости. Это высочайшее здание города, его строительство велось вручную.
Красный Костёл — своеобразная визитная карточка Минска. На сегодня он является известнейшим католическим храмом, действует до сих пор.
Октябрьская Площадь. Здесь находиться памятный знак "Нулевой километр".
Дворец Республики. Самая известная концертная площадка Минска. На этой сцене выступали многие звёзды.
Дом Профсоюзов. Сегодня в здании располагаются театр, арт-кафе и колонный зал.
Национальная библиотека республики Беларусь. Это оригинальное здание с уникальной архитектурой, которое привлекает внимание всех путешественников. Библиотека имеет смотровую площадку, откуда открывается замечательный вид на город Минск.
Большой Театр в Минске. Он имеет уникальную архитектуру, что и привлекло внимание к нему, как к ценному объекту.
Минский Кафедральный Собор. Главный действующий храм православной церкви.
Гостиный двор Минска. Это огромный комплекс зданий, который расположен в центре площади.
</td>
</tr>
{% endblock %}
